body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin: 0;
   }

/* Header Starts Here */

header {
    background-color: #b1c2d8;
    padding: 1rem 2%;
    }

header h1 {
    margin: 0;
    color: #0a101c;
    }

header p {
    margin: 0;
    color: #0a101c;
    letter-spacing: .1px;
    }

/* Navigation Starts Here */

nav {
    background-color: #7b97ad;
    }

nav ul {
    list-style-type: none;
    padding: 0 1%;
    margin: 0; 
    display: flex;
    }

nav a {
    font-size: 1.1rem; 
    text-decoration: none; 
    color: #0a101c; 
    font-weight: 600;
    display: block;
    padding: .84rem 2rem;
    }

nav li.active a {
    background-color: #ffab40;
    color: #0a101c
    }

nav a:hover {
    color: #ffffff;
    }

/* Main Starts Here */
main {
    padding: 1rem 2%;
    background-color: #ffffff;
    }

main h1 {
    color: #eb6217; /*higher contrast*/
    }

main h2 {
    color: #141c31; /*contrast shift*/
    margin-bottom: .2rem;
    }

main p {
    color: #0a101c;
    margin: 0 0 .3rem 0;
    }

main ol {
    padding: .76rem 3%;
    margin: 0 32% 0 0;
    background-color: #b1c2d8;
    }

main dl dt {
    color: #2d4a69;
    font-weight: 700; 
    font-size: 1.1rem;
    margin-bottom: .5rem;
    }

main dl dd {
    color: #2d4a69;
    font-size: .9rem;
    font-weight: 400;
    margin-bottom: .5rem;
    }

main ul {
    list-style-type:square;
    margin: 0;
    }

main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
    }

main address {
    font-style: normal;
    background-color: #2d4a69;
    padding: .5rem;
    width: 12.5rem;
    border: 1px solid #0a101c;
    border-radius: 3px;
    color: #cbddf8;
    }

main address a {
    color: #cbddf8;
    }

main a {
     color: #2d4a69;
    }

main a:hover {
     color: #ffab40;
    }

figure.wrapped {
    width: 30%;
    margin: 0 0 0 1%;
    float: right;
    
}figure.wrapped img {
    width: 100%;
    height: auto;
}

figure.wrapped figcaption {
    text-align: center;
    font-size: .75rem;
    color: #eb6217;
}

div.gallery {
    display: flex;
    flex-wrap: wrap;
}

div.gallery figure {
    margin: .5rem 2% 0 0;
}

div.gallery figcaption {
    text-align: center;
    font-size: .75rem;
    color: #eb6217;
}

/* Footer Starts Here */

footer {
    background-color: #0a101c;
    text-align: center;
    color: #e3e6eb;
    padding: 1rem 0;
    font-size: .8rem;
    clear: both;
    }

footer a {
    color: #e3e6eb;
}
